body {
    padding-right: 0.6em;
    padding-left: 0.6em;
}

button {
    background-color: #e1ecf4;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #39739d;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.1;
    margin: 0;
    outline: none;
    padding: .45em .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

button:hover,
button:focus {
    background-color: #b3d3ea;
    color: #2c5777;
}

button:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

button:active {
    background-color: #a0c7e4;
    box-shadow: none;
    color: #2c5777;
}

input, select, button {
    margin: 0 0.8em 0.4em 0;
}

select {
    height: 2.1em;
    padding: .375rem .4rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

input {
    height: 2.1em;
    padding: 0 .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

select:focus, input:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25); /* => this cause the highlight! */
}

a {
    padding-right: .4em;
    font-size: 1.1rem;
    font-weight: 400;
}

label {
    font-size: 1.1rem;
    font-weight: 400;
    color: #495057;
}

.errorlist {
    color: red;
    list-style: none;
    font-size: 2em;
}

.msg {
    font-size: 2.5em;
    text-align: center;
}

.text-center {
    text-align: center;
}

.filter_form {
    text-align: center;
    margin-bottom: 0.38em;
}

.status_color_label {
    font-size: 1.1rem;
    text-align: center;
}

.status_color_label span {
    font-weight: bold;
    padding: .1em;
}

.select2-container {
    margin: 0 0.8em 0.25em 0 !important;
}

.select2-container .select2-search--inline {
    height: 1.88em;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
}

#id_status, #id_actor, #id_queue {
    min-width: 10em !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e2e3e5 !important;
}

.select2-search__field {
    height: 1.6em;
    margin-top: 0.26em !important;
}
