{% extends "django_dramatiq_charts/base.html" %}

{% block title %}Dramatiq task load chart{% endblock %}

{% block description %}Dramatiq task load chart{% endblock %}

{% block extrahead %}
    <script src='{{ plotly_lib }}'></script>
{% endblock %}

{% block content %}
    <form method="GET" class="filter_form">
        {{ form }}
        <button type="submit">Build chart</button>
        <a href="."><i>Reset</i></a>
        {% if cache_enabled %}
            <a href="{% url 'update_cache' %}"><i>Update cache</i></a>
        {% endif %}
    </form>
    {% if empty_qs %}
        <p class="msg">🔍 there is no data for the specified criteria</p>
    {% elif categories %}
        <div id='chart'></div>
    {% else %}
        <p class="msg">🖦 select build criteria</p>
    {% endif %}
{% endblock %}

{% block extrabottom %}
    <script>
        let z = ({{ working_actors_count|safe|default:'[]' }});
        let x = ({{ dates|safe|default:'[]' }});
        let y = ({{ categories|safe|default:'[]' }});
        let text = z.map(function (z, i) {
            return z.map(function (value, j) {
                return ` Actor: ${y[i]} <br>` +
                       ` Datetime: ${x[j]} <br>` +
                       ` Count: ${value} `;
            });
        });
        let data = [
            {
                z: z,
                x: x,
                y: y,
                type: 'heatmap',
                hoverongaps: false,
                colorscale: [
                    [0, '#a3d2db'],  // 69c3e8 a3d2db
                    [1, '#01434b'],  // e31919 01434b
                ],
                hoverinfo: 'text',
                text: text,
            }
        ];
        let layout = {
            title: {
                text: {{ chart_title|safe|default:"''" }},
                font: {
                    size: 15,
                }
            },
            xaxis: {
                rangeslider: {},
            },
            yaxis: {
                automargin: true,
            },
            height: {{ chart_height|safe|default:1 }},
        };
        let categories = ({{ categories|safe|default:'[]' }});
        if (categories.length !== 0) {
            Plotly.newPlot('chart', data, layout);
        }
    </script>
{% endblock %}