{% extends "django_dramatiq_charts/base.html" %}

{% block title %}Dramatiq task timeline chart{% endblock %}

{% block description %}Dramatiq task timeline chart{% endblock %}

{% block content %}
    <form method="GET" class="filter_form">
        {{ form }}
        <button type="submit">Build chart</button>
        <a href="."><i>Reset</i></a>
        {% if cache_enabled %}
            <a href="{% url 'ddc_clean_cache' %}"><i>Update cache</i></a>
        {% endif %}
    </form>
    {% if empty_qs %}
        <p class="msg">🔍 there is no data for the specified criteria</p>
        <p class="text-center">{{ chart_title|safe }}</p>
    {% elif chart_data %}
        <div id='chart'></div>
    {% else %}
        <p class="msg">🖦 select build criteria</p>
    {% endif %}
{% endblock %}

{% block extrabottom %}
    <script>
        $("#id_status").select2({
            placeholder: "All statuses",
            multiple: true,
        });
        $("#id_actor").select2({
            placeholder: "All actors",
            multiple: true,
        });
        $("#id_queue").select2({
            placeholder: "All queues",
            multiple: true,
        });

        function msToString(milliseconds) {
            // converting milliseconds to '{hours}h {minutes}m {seconds}s {milliseconds}ms'
            if (milliseconds <= 0) {
                return 'undefined';
            }
            let ms = Math.round(milliseconds % 1000) + 'ms';
            let s = Math.floor((milliseconds / 1000) % 60) + 's';
            let m = Math.floor((milliseconds / (1000 * 60)) % 60) + 'm';
            let h = Math.floor(milliseconds / (1000 * 60 * 60)) + 'h';
            let time = '';
            [h, m, s, ms].forEach(function (t) {
                if (/[1-9]/.test(t)) {
                    time += t + ' ';
                }
            });
            return time;
        }

        function heightCalculator(count, width, extra, min, max) {
            // calculating the chart height depending on the parameters:
            // count - number of data instances, width - width of the instance with a gap,
            // extra - additional height, min - minimum height, max - maximum height
            extra = extra || 0;
            let height = extra + count * width;
            if (min) {
                height = Math.max(height, min);
            }
            if (max) {
                height = Math.min(height, max);
            }
            return height;
        }

        // colors for status
        const status_color = {
            enqueued: 'rgb(126,59,243)',
            delayed: 'rgb(232,157,17)',
            running: 'rgb(72,139,222)',
            failed: 'rgb(239,77,50)',
            done: 'rgb(30,190,54)',
            skipped: 'rgb(100, 100, 100)',
        };

        let chart_data = ({{ chart_data|safe|default:'[]' }});
        let filter_data = ({{ filter_data|safe|default:'[]' }});
        let data = [];
        let unique_actors = new Set();
        let unique_status = new Set();
        let bargap = 1.25;    // indent between intervals in fractions of the interval width by y
        let chart = document.getElementById('chart');
        let chart_config = {responsive: true};
        let y_time = [];    // task start time
        let y = 0;
        chart_data.forEach(function (task) {
            let actor = task['actor'];
            let status = task['status'];
            let color = status_color[status];
            let duration = msToString(task['duration']);
            let text =
                `Actor: ${actor}<br>` +
                `Queue: ${task['queue']}<br>` +
                `Status: <span style="color:${color}">${status}</span><br>` +
                `Duration: ${duration}<br>` +
                `Start: ${task['start'].slice(0, -3)}<br>` +
                `End: ${task['end'].slice(0, -3)}`;
            let x_start = new Date(
                (task['start'] > filter_data['start_date']) ? task['start'] : filter_data['start_date']
            );
            let x_end = new Date(task['end']);
            // show momental as 1 sec when the duration is less than 1 sec
            if (task['duration'] < 1000) {
                x_end = new Date(x_start.getTime() + 1000);
            }
            x_end = (x_end < new Date(filter_data['end_date'])) ? x_end : new Date(filter_data['end_date']);

            // status border
            data.push({
                x: [x_start, x_start, x_end, x_end, x_start],
                y: [y - 0.5, y + 0.5, y + 0.5, y - 0.5, y - 0.5],
                type: 'scatter',
                mode: 'lines',
                line: {
                    color: color,
                    width: 3,
                },
                hoverinfo: 'none',
                legendgroup: actor,
                showlegend: false,
            });

            // actor box
            data.push({
                x: [x_start, x_start, x_end, x_end],
                y: [y - 0.5, y + 0.5, y + 0.5, y - 0.5],
                type: 'scatter',
                mode: 'lines',
                line: {
                    color: task['color'],
                    width: 0,
                },
                fill: 'toself',
                name: actor,
                text: text,
                hoveron: 'all',
                hoverinfo: 'text',
                legendgroup: actor,
                showlegend: !unique_actors.has(actor),
            });
            unique_actors.add(actor);
            unique_status.add(status);
            y_time.push(new Date(task['start']).toLocaleTimeString());
            y += bargap;
        });

        let layout = {
            title: {
                text: "{{ chart_title|safe }}",
                font: {
                    size: 15,
                },
            },
            xaxis: {
                range: [filter_data['start_date'], filter_data['end_date']],
            },
            yaxis: {
                title: 'Start time',
                zeroline: false,
                automargin: true,
                tickmode: 'array',
                tickvals: [...Array(y_time.length).keys()].map(i => i * bargap),
                ticktext: [...y_time],
            },
            legend: {
                title: {
                    text: `Actor <br>`,
                },
            },
            hoverlabel: {
                bgcolor: '#eaeaea',
                align: 'left',
            },
            height: heightCalculator(y_time.length, 25, 300),
        };

        if (data.length > 0) {
            Plotly.newPlot(chart, data, layout, chart_config);
        }

        let drag_layer = document.getElementsByClassName('nsewdrag')[0];    // cursor object
        // the cursor changes when hovering over an interval
        chart.on('plotly_hover', function () {
            drag_layer.style.cursor = 'default';
        }).on('plotly_unhover', function () {
            drag_layer.style.cursor = '';
        });
    </script>
{% endblock %}