Django==3.2.9                  # high-level Web framework that encourages rapid development and clean, pragmatic design.
django_dramatiq==0.10.0        # Django app that integrates with Dramatiq
dramatiq==1.11.0               # A fast and reliable distributed task processing library (вместо "dramatiq[rabbitmq, redis, watch]==" зависимости указаны явно)
    pika==1.2.0                # *dramatiq rabbitmq
    redis==3.5.3               # *dramatiq redis